*{
  margin: 0;
  padding: 0;
}
.App-header {
  background-color: #b5a5e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  font-family: 'Press Start 2P';
  padding-top: 10px;
}

h1{
  text-shadow: 5px 0px 2px rgba(150, 150, 150, 1);
  color: #27b5a9;
  font-style: oblique;
  font-size: 40px;
  padding: 30px;
transition: 1s
}


.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 20px;
  border: 5px solid #fff;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

